@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Pangram-Regular';
  src: url("../../assets/fonts/Pangram-Regular.otf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Pangram-Bold';
  src: url("../../assets//fonts/Pangram-Bold.otf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Pangram-Medium';
  src: url("../../assets/fonts/Pangram-Medium.otf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pangram-Light';
  src: url("../../assets/fonts/Pangram-Light.otf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}





.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2E2E2E;
  min-width: 558px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #0D0C0D;
  border-radius: 4px;
  
}

.dropdown:hover .dropdown-content {display: grid;}

.dropdown:hover .dropbtn {}